@import "../../../../main.module.scss";


.banners {
  margin: 60px 0;
}
.atention {
  margin:0 100px;
  a {
    color: #93650c;
  }
}
.atention a:hover {
  color: $body-color-secondary;
  font-weight:500;
}

.spinnerContainer {
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .atention {
    margin: 0 50px 100px;
  }
}
@media screen and (max-width: 600px) {
  .atention {
    margin: 0 20px 100px;
  }
  .banners {
    margin: 30px 0;
  }
}