@import "../../main.module.scss";

.selectContainer {
  grid-column: span 3;
}
.title {
  position: relative;
  width:100%;
  label {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
.optionBlock {  
  width: 100%;
  border: none;
  border-radius: 4px;
  background: $white;
  box-shadow: 2px 6px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 13px 10px;
  cursor: pointer;
  position: relative;
  z-index: 100;
  margin-top:10px;
  @include TextFieldPlaceholder;

  .dataItem {
    @include TextFieldPlaceholder;
    font-size: 16px;
    padding: 5px 0;
  }
  .dataItem:hover {
    background: rgba($color: #ffc700, $alpha: 0.3);
    cursor: pointer;
  }
  p {
    @include fluidFontSize(10px, 16px, 480px, 1540px);
  }
}
//scrollbar
.optionBlock::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 15px;
}

.optionBlock::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 15px;
}

.optionBlock::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 15px;
}

.isRecordSelect {
  width: 100%;
  margin: 10px 0;
  .title {
    background: $white;
    padding: 0;
    line-height: 0;
    border-radius: 30px;
    border: 1px solid $black;
    padding: 4px 20px 4px 10px;
  }
}
