@import "../../main.module.scss";

.checkboxAgreement {
  display: none;
}
.fake {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border:1px solid #C4CCC1;
}
.fake:hover {
  border:1px solid $btn-color-three;
}

.fake svg {
  opacity: 0;
  transition: 0.2s;
}

.checkboxAgreement:checked + .fake svg {
  opacity: 1;
  stroke:#13340A;
}
.errorInput {
  border: 1px solid red;
}