@import "../../../../../../../../main.module.scss";

.container {
  width: 500px;
  min-height: 412px;
  padding: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  border-radius: 4px;
  border: 1px solid $card-border-color;
  background: $body-background-primary;
}

.control {
  position: absolute;
  top: 20px;
  right: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap:10px;
  margin-top:60px;
}
.form {
  label,
  textarea {
    width: 100%;
    background: $white;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 252px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  textarea {
    height: auto;
    resize: none;
  }
  //scrollbar
  textarea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px 10px 10px 10px;
  }

  textarea::-webkit-scrollbar-track {
    background: #71856c;
    border-radius: 10px 10px 10px 10px;
  }

  textarea::-webkit-scrollbar-thumb {
    background-color: #fdf8f0;
    border: 1px solid #71856c;
    border-radius: 10px 10px 10px 10px;
  }

}

@media screen and (max-width: 650px) {
  .container {
    width: 375px;
  }
}
