@import "../../main.module.scss";
.wrapper {
  text-align: center;
}
.content {
  @include Grid;
  margin-bottom: 40px;
  .text, .link {
    grid-column: span 12;
    grid-row: 1;
    
  }
  .link {
    grid-row: 2;
  }
  img {
    grid-column: 4/ 10;
    width:100%;
    height:100%;
    object-fit: cover;
  }
}
